.product-list-container{
   display:flex;
   flex-direction: column;
   width: 100%;
}
.product-top-nav{
    display:flex;
    width: 100%;
    height: 50px; 
    align-items: center; 
    justify-content: space-between;
}
.product-heading{
    display:flex;
}
.product-nav-items{
    display:flex;
}
